<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>协同办公（客服）</title>
		<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<meta content="telephone=no" name="format-detection">
		<meta content="email=no" name="format-detection">
		<link rel="stylesheet" href="../css/reset.css">
		<link rel="stylesheet" href="../css/page.css">
		<link rel="stylesheet" href="../css/main.css" />

		<script type="text/javascript" src="../js/rem.js"></script>
		<script type="text/javascript" src="../js/jquery.min.js"></script>
		<script type="text/javascript" src="../js/jquery-3.1.1.min.js"></script>
		<script type="text/javascript" src="../js/jquery.js"></script>
		<script type="text/javascript" src="../js/layer/layer.js"></script>
		<script type="text/javascript" src="../js/vue.min.js"></script>
		<script type="text/javascript" src="../js/md5.js"></script>
		<script type="text/javascript" src="../js/common.js"></script>


	</head>
	<body>
	<div class="login-wrap" id="app">
		<div class="login-top"> <span class="login-line anstextbg5"></span>
			<h1>更改密码</h1> </div>
		<div class="login-list">
			<div class="login-item login-item-service"> <img src="../images/login-icon-phone.png" class="lgoin-icon" alt=""> <input type="text" v-model="mobile" id="mobile" maxlength="11" placeholder="请输入手机号码！"> </div>
			<div class="login-item login-item-service"> <img src="../images/code.png" class="lgoin-icon" alt=""> <input type="text" placeholder="请输入验证码！" maxlength="6" id="code"  v-model="code"> <span ><a href="javascript:void(0)" class="login-code anstext5" v-if="sendMsgDisabled">{{time +'秒后获取'}}</a> <a href="#" class="login-code anstext5" @click="get_code" v-if="!sendMsgDisabled">{{get_text}}</a></span> </div>
			<div class="login-item login-item-service"> <img src="../images/login-icon-psw.png" class="lgoin-icon" alt=""> <input type="text" placeholder="请输入新密码！" id="password" v-model="password"> </div>
			<div class="login-item login-item-service"> <img src="../images/login-icon-psw.png" class="lgoin-icon" alt=""> <input type="text" placeholder="请您确认密码！" id="password2" v-model="password2"> </div>
		</div>
		<div class="login-btnbox"> <button @click="greet" class="login-btn anstextbg5">确认修改</button>
			<a href="login.html">快捷登录？</a>
		</div>
	</div>
	<script type="text/javascript" src="../js/service/change.js"></script>
	</body>
</html>